## 01 Python Basics

### A. 숫자형
1. integer : 정수 <br>
    Ep_ int()로 사용 <br>
2. float : 실수 <br>
    Ep_ float()으로 사용 <br>
3. complex : 복소수 <br>
    Ex_ 1 + 4j  => <b> 아래 코드 참고</b><br>
4. 8진수 & 16진수 <br>
    Ex_ 0o177 & 0x2A 등 (숫자0 + 각각 알파벳 o or x 사용)<br>    
    <b>operators:</b> +, -, *, /, %, **, // (+=, /= 처럼 사용가능)

In [51]:
# A.3. complex
a = 2 + 3j
print(a.real)                  #실수부분 리턴
print(a.imag)                #허수부분 리턴
print(a.conjugate())      #켤레복소수 리턴
abs(a)                          #절댓값 리턴

2.0
3.0
(2-3j)

3.605551275463989

In [4]:
# 숫자형 operators example (+= 등 처럼 사용하는 경우)
b = 5
b /= 2
b

2.5

#### + math 모듈
+ round(x,n) : x를 소수 n자리까지 반올림하는 것 => math 모듈이 필요하지 않음 <br>
+ ceil(x) : 올림 <br>
+ factorial(x) : x! <br>
+ floor(x) : 내림 <br>
+ exp(x) : e**x <br>
+ log(x,base) : log(base)(x) <br>
+ log10(x) : 상용로그 <br>
+ sqrt(x) : root(x) 값 <br>
+ cos(x), sin(x), tan(x) <br>
+ pi, e <br>

In [5]:
import math
math.pi

3.141592653589793

### B. Boolean
1. True / False <br>
<b>operators:</b> ==, !=, >, < >=, <=, is, is not, in, not in, and, or, not <br>
2. while, if, for 등 함수에서 응용

### C. 문자열 자료형
1. string
2. list
3. tuple
4. dictionary
5. set

#### C-1 string
immutable object이므로 수정한 내용이 original string에 업데이트되지 않음 <br>
1. str() : string으로 변환
2. indexing : x[0] <br>
3. slicing : [a:b:c] a부터 b바로 전까지 c간격으로 <br>
Ex_ x[:], x[::-1], x[5:1:-2] <br>
Ep_ silcing활용 => print(text[-5:] + "a" + text[:-1])
4. operators : +, -, in, not in
5. % : 나머지 반환
6. // : 몫 반환
7. """ """ : 줄바꿈할 때 쓰임

##### + string method
+ len(x) : x의 길이 <br>
+ x.find(str) : 해당 str의 index를 반환 (없으면 '-1'을 반환) <br>
+ x.index(str) : 해당 str의 index를 반환 (없으면 오류) <br>
+ x.count(str) : 해당 str의 개수 <br>
+ x.capitalize() : 첫번째 문자를 대문자로 변환 <br>
+ x.lower() : 소문자 만들기 <br>
+ x.upper() : 대문자 만들기 <br>
+ x.lstrip() : 왼쪽 공백 없애기 <br>
+ x.rstrip() : 오른쪽 공백 없애기 <br>
+ x.strip : 양쪽 공백 없애기 <br>
+ x.split(str) : 해당 str을 기준으로 앞과 뒤로 나눔 <br>
+ x.replace(old, new) : old string을 new string으로 바꿔줌 <br>
+ x.startswith(str) : 해당 str으로 시작하면 True, 아니면 False <br>
+ x.endswith(str) : 해당 str으로 끝나면 True, 아니면 False <br>
+ xisalpha : string이 모두 alphabet이면 True, 아니면 False <br>
+ x.isnumeric : string이 모두 number이면 True, 아니면 False <br>
+ x.isalnum : string이 모두 alphabet, number이면 True, 아니면 False <br>
+ " ".join(str) : str 사이사이에 " " 안에 있는 것을 삽입 <br>
+ sorted(str) : str을 알파벳순으로 정렬 (띄어쓰기는 맨앞) <br>

In [50]:
# split 사용법
str1 = "Wanna be happy"
str1.split('a')

['W', 'nn', ' be h', 'ppy']

In [52]:
# join 사용법
str2 = ",".join('will')
str2

'w,i,l,l'

##### + escape code
+ \n : 줄바꿈 <br>
+ \t : 탭간격 <br>
+ \\\ : 문자 \ 표현 <br>
+ \\', \\" : 따옴표 표현

In [53]:
# sep= 이용법
print('Can', 'You', 'Guess?', sep="\n")

Can
You
Guess?

##### + formatting <br>
1) % 사용
+ %s : 문자열 formatting
+ %c : 문자 1개 formatting
+ %d : 정수 formatting
+ %f : 소수 formatting
+ %% : 문자 % 구현 <br>

2) format 함수
+ str.format() : 함수를 이용한 formatting 방법
+ {{  }}.format() : 중괄호 {  } 구현

3) f 문자열
+ f"str" : format 함수와 비슷하게 적용되는 formatting 방법
+ f{{  }} : 중괄호 {  } 구현

4) 정렬 & 공백 (소수점 나타내기)
+ %숫자s : 오른쪽 정렬, 나머지는 숫자만큼 공백
+ %-숫자s : 왼쪽 정렬, 나머지는 숫자만큼 공백
+ %.숫자f : 소수점 표현
+ "{0:>10}".format() : 오른쪽 정렬
+ "{0:<10}".format() : 왼쪽 정렬
+ "{0:^10}".format() : 가운데 정렬
+ "{0:a^10}".format() : 공백을 a로 채움
+ "{0:.숫자f}".format() : 소수점  표현
+ format 함수의 '0' 위치에 str 등을 넣으면 같은 결과

In [39]:
# % 두개 넣는 예시
n = 3
day = 'sunday'
for1 = "I ate %d apples on %s morning" % (n,day)
for1

'I ate 3 apples on sunday morning'

In [57]:
# 문자 % 표시법
for2 = "It is %d%% off now!" % 90
for2

'It is 90% off now!'

In [58]:
# format 함수 예시
for3 = "I need {} more pens right {}." .format(3,'now')
for3

'I need 3 more pens right now.'

In [64]:
# format에서 이름으로 넣기
for4 = 'Do you {a} me?' .format(a='believe')
for4

'Do you believe me?'

In [65]:
# f 문자열 예시
age = 22
for5 = f"OMG, I'll be {age + 1} years old next year."
for5

"OMG, I'll be 23 years old next year."

In [63]:
# 정렬, 공백, 소수점 (%)
blank1 = "Your %10s is %.2f." % ('grade', 95.38492)
blank1

'Your      grade is 95.38.'

In [66]:
# 정렬, 공백, 소수점 (format 함수)
blank2 = "{0:!<10}".format("Isabella")
blank2

'Isabella!!'

In [68]:
 # 정렬, 공백, 소수점 (format 함수) _ :와 .사이에 '0' 넣어도 same result
 x = 90.3423587
 blank3 = "{0:.3f}".format(x)
 blank3

'90.342'

In [72]:
# 정렬, 공백, 소수점 (f 문자열)
blank4 = f'{"^^":*^6}'
blank4

'**^^**'

#### C-2 list
mutable object이여서 수정시 바로 original list에 업데이트 됨
1. list() or [] : list로 변환 (a = list() _ 빈 리스트)
2. indexing & slicing <br>
Ep_string과 동일 <br> 
Ep_Multidimensional lists : x[0][0], x[1][1:3]

In [0]:
# multidimensional lists

#### C-3 tuple

#### C-4 dictionary

#### C-5 set

+ type(variable) : 해당 변수의 type을 반환 <br>

## 02 제어문 (if, while, for)

### A. if문

### B. while문

### C. for문

## 03 함수