# Python Basics
0. Google Colab intro
1. 자료형 type
2. 제어문 (if, while, for)
3. 함수
4. 여러 methods

## 00 Google Colab intro
Jupyter notebook에서는 그냥 진행하면 된다 <br>
Colab에서는 google drive에 data를 업로드 한 후, 마운트(mount)를 해줘야 사용가능

In [0]:
# Google Drive Mount
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
# Change Directory to Google Drive
cd gdrive/My Drive/

SyntaxError: ignored

### + 단축키 & tip
+ Ctrl + M + A : 바로 위에 새로운 Cell 생성
+ Ctrl + M + B : 바로 밑에 새로운 Cell 생성
+ Ctrl + M + D : 해당 셀을 삭제합니다.
+ Ctrl + M + Z : 삭제한 셀을 다시 생성
+ Ctrl + M + Y : 셀을 Python Code 셀로 지정
+ Ctrl + M + M : 셀을 글 작성을 위한 Markdown 셀로 지정
+ Shift + Enter : 해당 셀 실행
+ tab : 변수이름 자동완성 & parameter 값 보기

### + 입출력 기본
1. a = input( ) _ 이 때, 입력값은 문자열 취급
2. print("A" "B") = print("A"+"B")
3. 문자열 띄어쓰기 : comma(,) 이용
4. end= ' ' : 다음 줄로 넘기지 않고 그 줄 계속 출력

### + GPU와 CPU의 차이
+ CPU : 직렬처리로 최적화된 몇 개의 코어로 구성 <br>
+ GPU : 병렬처리에 사용되며 수 천개의 코어로 구성 - 딥러닝 학습 및 활용 속도에 매우매우 큰 영향

### + 참고사이트 목록
+ [codecademy](https://www.codecademy.com/learn/learn-python) : 직접 코드를 실행시켜가면서 배우는 온라인 파이썬 강의
+ [DataCamp](https://campus.datacamp.com/courses/intro-to-python-for-data-science/) : 데이터 분석을 위한 파이썬을 압축적으로 들을 수 있는 강의
+ [Programmers - Python 입문](https://programmers.co.kr/learn/courses/2) : 온라인 강의를 듣고 관련된 코드를 바로 연습해볼 수 있는 사이트
+ https://gist.github.com/ihoneymon/652be052a0727ad59601 : 마크다운 사용법

## 01 자료형 type

### A. 숫자형
1. integer : 정수 <br>
    Ep_ int()로 사용 <br>
2. float : 실수 <br>
    Ep_ float()으로 사용 <br>
3. complex : 복소수 <br>
    Ex_ 1 + 4j 
4. 8진수 & 16진수 <br>
    Ex_ 0o177 & 0x2A 등 (숫자0 + 각각 알파벳 o or x 사용)<br>    
    <b>operators:</b> +, -, *, /, %, **, // (+=, /= 처럼 사용가능)

In [1]:
# A.3. complex
a = 2 + 3j
print(a.real)                  #실수부분 리턴
print(a.imag)                #허수부분 리턴
print(a.conjugate())      #켤레복소수 리턴
abs(a)                          #절댓값 리턴

2.0
3.0
(2-3j)

3.605551275463989

In [2]:
# 숫자형 operators example (+= 등 처럼 사용하는 경우)
b = 5
b /= 2
b

2.5

#### + math 모듈
+ ceil(x) : 올림 <br>
+ factorial(x) : x! <br>
+ floor(x) : 내림 <br>
+ exp(x) : e**x <br>
+ log(x,base) : log(base)(x) <br>
+ log10(x) : 상용로그 <br>
+ sqrt(x) : root(x) 값 <br>
+ cos(x), sin(x), tan(x) <br>
+ pi, e <br>

In [3]:
import math
math.pi

3.141592653589793

### B. Boolean
1. True / False <br>
<b>operators:</b> ==, !=, >, < >=, <=, is, is not, in, not in, and, or, not <br>
2. while, if, for 등 함수에서 응용

### C. 문자열 자료형
1. string
2. list
3. tuple
4. dictionary
5. set

#### C-1 string
immutable object이므로 수정한 내용이 original string에 업데이트되지 않음 <br>
1. str() : string으로 변환
2. indexing : x[0] <br>
3. slicing : [a:b:c] a부터 b바로 전까지 c간격으로 <br>
Ex_ x[:], x[::-1], x[5:1:-2] <br>
Ep_ silcing활용 => print(text[-5:] + "a" + text[:-1])
4. operators : +, -, in, not in
5. % : 나머지 반환
6. // : 몫 반환
7. """ """ : 줄바꿈할 때 쓰임

##### + string method
+ len(x) : x의 길이 <br>
+ x.find(str) : 해당 str의 index를 반환 (없으면 '-1'을 반환) <br>
+ x.index(str) : 해당 str의 index를 반환 (없으면 오류) <br>
+ x.count(str) : 해당 str의 개수 <br>
+ x.capitalize() : 첫번째 문자를 대문자로 변환 <br>
+ x.lower() : 소문자 만들기 <br>
+ x.upper() : 대문자 만들기 <br>
+ x.lstrip() : 왼쪽 공백 없애기 <br>
+ x.rstrip() : 오른쪽 공백 없애기 <br>
+ x.strip : 양쪽 공백 없애기 <br>
+ x.split(str) : 해당 str을 기준으로 앞과 뒤로 나눔 <br>
+ x.replace(old, new) : old string을 new string으로 바꿔줌 <br>
+ x.startswith(str) : 해당 str으로 시작하면 True, 아니면 False <br>
+ x.endswith(str) : 해당 str으로 끝나면 True, 아니면 False <br>
+ xisalpha : string이 모두 alphabet이면 True, 아니면 False <br>
+ x.isnumeric : string이 모두 number이면 True, 아니면 False <br>
+ x.isalnum : string이 모두 alphabet, number이면 True, 아니면 False <br>
+ " ".join(str) : str 사이사이에 " " 안에 있는 것을 삽입 <br>
+ sorted(str) : str을 알파벳순으로 정렬 (띄어쓰기는 맨앞) <br>

In [4]:
# split 사용법
str1 = "Wanna be happy"
str1.split('a')

['W', 'nn', ' be h', 'ppy']

In [5]:
# join 사용법
str2 = ",".join('will')
str2

'w,i,l,l'

##### + escape code
+ \n : 줄바꿈 <br>
+ \t : 탭간격 <br>
+ \\\ : 문자 \ 표현 <br>
+ \\', \\" : 따옴표 표현

In [6]:
# sep= 이용법
print('Can', 'You', 'Guess?', sep="\n")

Can
You
Guess?

##### + formatting <br>
1) % 사용
+ %s : 문자열 formatting
+ %c : 문자 1개 formatting
+ %d : 정수 formatting
+ %f : 소수 formatting
+ %% : 문자 % 구현 <br>

2) format 함수
+ str.format() : 함수를 이용한 formatting 방법
+ {{  }}.format() : 중괄호 {  } 구현

3) f 문자열
+ f"str" : format 함수와 비슷하게 적용되는 formatting 방법
+ f{{  }} : 중괄호 {  } 구현

4) 정렬 & 공백 (소수점 나타내기)
+ %숫자s : 오른쪽 정렬, 나머지는 숫자만큼 공백
+ %-숫자s : 왼쪽 정렬, 나머지는 숫자만큼 공백
+ %.숫자f : 소수점 표현
+ "{0:>10}".format() : 오른쪽 정렬
+ "{0:<10}".format() : 왼쪽 정렬
+ "{0:^10}".format() : 가운데 정렬
+ "{0:a^10}".format() : 공백을 a로 채움
+ "{0:.숫자f}".format() : 소수점  표현
+ format 함수의 '0' 위치에 str 등을 넣으면 같은 결과

In [7]:
# % 두개 넣는 예시
n = 3
day = 'sunday'
for1 = "I ate %d apples on %s morning" % (n,day)
for1

'I ate 3 apples on sunday morning'

In [8]:
# 문자 % 표시법
for2 = "It is %d%% off now!" % 90
for2

'It is 90% off now!'

In [9]:
# format 함수 예시
for3 = "I need {} more pens right {}." .format(3,'now')
for3

'I need 3 more pens right now.'

In [10]:
# format에서 이름으로 넣기
for4 = 'Do you {a} me?' .format(a='believe')
for4

'Do you believe me?'

In [11]:
# f 문자열 예시
age = 22
for5 = f"OMG, I'll be {age + 1} years old next year."
for5

"OMG, I'll be 23 years old next year."

In [12]:
# 정렬, 공백, 소수점 (%)
blank1 = "Your %10s is %.2f." % ('grade', 95.38492)
blank1

'Your      grade is 95.38.'

In [13]:
# 정렬, 공백, 소수점 (format 함수)
blank2 = "{0:!<10}".format("Isabella")
blank2

'Isabella!!'

In [14]:
 # 정렬, 공백, 소수점 (format 함수) _ :와 .사이에 '0' 넣어도 same result
 x = 90.3423587
 blank3 = "{0:.3f}".format(x)
 blank3

'90.342'

In [15]:
# 정렬, 공백, 소수점 (f 문자열)
blank4 = f'{"^^":*^6}'
blank4

'**^^**'

#### C-2 list
mutable object이므로 수정시 바로 original list에 업데이트 됨
1. list() or [] : list로 변환 (a = list() _ 빈 리스트)
2. indexing & slicing <br>
Ep_string과 동일 <br> 
Ep_Multidimensional lists : x[0][0], x[1][1:3]
3. operators : +, *, in (type 맞춰주기)

In [16]:
# multidimensional lists
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[3][:2]

['a', 'b']

##### + list method
+ len(x) : list(x)의 길이
+ min(x) : 최소값 반환
+ max(x) : 최댓값 반환
+ del x[ ] : 해당 요소 삭제 ([ ]안에 슬라이싱(:)도 가능)
+ x.append(value) : list 맨끝에 value 추가
+ x.extend(list) : list를 추가
+ x.pop(index) : 해당 index에 있는 value를 돌려주고 삭제 (x.pop() = 맨 마지막 삭제)
+ x.remove(value) : list에서 맨 첫번째에 나오는 value 삭제
+ x.count(value) : value 개수 반환
+ x.insert(index, value) : 해당 index에 value 삽입
+ x.index(value) : value 위치 반환 (lowest number)
+ x.sort() : 순서대로 정렬
+ x.reverse() : 역순 정렬

In [17]:
# 요소 change
a = [1,2,3,4,5]
a[2] = 0
a

[1, 2, 0, 4, 5]

In [18]:
# extend 예시
a = [1,2,3]
b = [4,5]
c = [6,7]
a.extend(b)
a += c
a

[1, 2, 3, 4, 5, 6, 7]

##### + copying list
그냥 copy해서 수정하면 원본이 아예 바뀌어버림<br>
본래list[:] 해서 copy하면, copy 수정 시 원본이 바뀌지 않음

In [19]:
# list copy하기 (No)
nlist = [1,3,5,7,9]
nlist_copy = nlist
nlist_copy.append(11)
print(nlist)
print(nlist_copy)

[1, 3, 5, 7, 9, 11]
[1, 3, 5, 7, 9, 11]

In [20]:
# list copy하기 (Yes)
nlist = [1,3,5,7,9]
nlist_realcopy = nlist[:]
nlist_realcopy.append(11)
print(nlist)
print(nlist_realcopy)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]

#### C-3 tuple
immutable object이므로 수정한 내용이 original tuple에 업데이트되지 않음<br>
1. () or tuple()로 나타냄
2. 요소가 하나일 때 맨 끝에 comma(,)를 써주어야 함
3. 괄호를 적지 않아도 comma(,)로 나열하면 tuple로 인식
4. operators = +, *, in
5. tuple은 수정이 불가함 (추가, 삭제 등의 메소드 사용 불가능)
6. indexing, slicing은 가능함

##### + tuple method
+ len(x) : tuple의 길이 반환
+ max(x) : 최대값 반환
+ min(x) : 최솟값 반환
+ x.index(value) : value 위치 반환 (lowest)
+ x.count(value) : value 개수 반환

#### C-4 dictionary
mutable object이므로 수정시 바로 original dict에 업데이트 됨
1. {key:value}의 형태로, {} or dict()로 나타냄
2. key : immutable data type (str, num, tuple 등), 그리고 unique
3. value : any type, unique 안해도 OK
4. indexing, slicing 불가

In [21]:
# two-value sequences를 dict으로 만들기
a = [(1,2),(3,4),(5,6)]
b = [[1,2],[3,4],[5,6]]
print(dict(a), dict(b), sep="\n")

{1: 2, 3: 4, 5: 6}
{1: 2, 3: 4, 5: 6}

##### + dictionary method
+ dict['key'] : 해당 key의 value를 반환
+ dict['key'] = value : 새로 한 쌍이 추가됨 (이미 있는 key면 value만 업뎃)
+ key in / not in dict : 있으면 True, 없으면 False
+ len(dict) : 길이 반환 (한쌍으로)
+ del dict['key'] : 해당 key의 한쌍 삭제
+ dict.clear() : 모두 삭제
+ dict.items() : 모든 쌍을 tuple로 반환
+ dict.keys() : 모든 key들을 list로 반환
+ dict.values() : 모든 value들을 list로 반환
+ dict.update(dict2) : dict2를 dict에 추가 (key 겹칠 시, dict2 value값 사용)
+ dict.get('key', 디폴트) : 해당 key가 없을 시 디폴트 값을 반환

In [22]:
# 새로 추가하기
dict1 = {'a' : 1}
dict1['a'] = 2
dict1['b'] = 3
dict1

{'a': 2, 'b': 3}

In [23]:
# item() 활용
dict2 = {'A' : 'a', 'B' : 'b'}
dict2.items()

dict_items([('A', 'a'), ('B', 'b')])

In [24]:
# get() 활용
dict3 = {"Q" : 1, "W" : 2}
print(dict3.get("Q"), dict3.get("E",'No'), sep='\n')

1
No

##### + copying dictionary
newdict = dict1.copy()를 해서 복사해주어야 원본값이 안바뀜

#### C-5 set
immutable object이므로 수정한 내용이 original set에 업데이트되지 않음
1. { } or set() 으로 표현 (빈 set은 후자만 사용)
2. unique 하고(=중복이 없고), 순서도 없음 : 필터 역할
3. set({dict})인 경우, key를 set으로 반환
4. indexing, slicing 불가능
5. in, not in, ==, !=, <=, >= : True or False 반환

##### + set method
+ a & b : 교집합
+ a | b : 합집합
+ a.union(b) : 합집합
+ a - b : 차집합
+ a.difference(b) : 차집합
+ a ^ b : 대칭차집합
+ len() : 길이 반환
+ x.add(element) : 값 1개 추가
+ x.update([element]) : 여러 값 추가
+ x.discard(element) : 특정값 제거
+ x.remove(element) : 특정값 제거 (이미 없으면 error)
+ x.clear() : 모든 element 제거

##### + copying set
newset = set1.copy()를 해서 복사해주어야 원본값이 안바뀜

## 02 제어문 (if, while, for)

### A. if문
1. 비교연산자 : <, >, ==, !=, <=, >=
2. 기타연산자 : or, and, not, in, not in
3. pass : 아무일이 일어나지 않도록 설정 (들여씀)
4. elif : else + if
5. 조건문 뒤에 ' : ' 붙이기
6. 한줄 출력 가능

In [25]:
# 한줄로 묘사하는 법 & pass 사용
lista = ['A', 'B', 'C']
if 'C' in lista: pass
else: print('None')

### B. while문
1. 조건문이 참인 동안 반복, 거짓이면  빠져나옴
2. 조건문 뒤에 ' : ' 붙이기
3. break = while문 강제로 빠져나가기 (들여씀)
4. continue = while문 맨 처음(조건문)으로 돌아가기
5. while True = 조건문이 항상 참이므로 무한 루프 : 빠져나오려면 [ctrl + C]
6. 한줄 출력 가능

In [26]:
# 1-10까지의 합_ 마지막 sum만 나타내고 싶으면 print는 밖으로 빼주기
sum = 0
i = 1
while i <= 10:
  sum += i
  i += 1
print("Sum is", sum)

Sum is 55

In [27]:
# 1-10 중 홀수만 출력하기
a = 0
while a <10:
  a += 1
  if a % 2 == 0: continue
  print(a)

1
3
5
7
9

### C. for문
1. for 변수 in (리스트, 튜플, 문자열 등)
2. 조건문 뒤에 ' : ' 붙이기
3. continue 사용 가능 (필요한 것만 출력)
4. 리스트 내포 : [표현식 for x in ~ (if 조건문)] _ if 생략가능
5. 한줄 출력 가능

In [28]:
# list comprehension
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

#### + range 함수
1. range(시작 숫자, 끝 숫자, 간격) : 끝 숫자 포함 안됨
2. 위에 list 등 있을 시, range(len()) 으로 사용

In [29]:
# range 함수 _ 구구단
for i in range(2,10):
  for j in range(1,10):
    print(i * j, end=" ")
  print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

## 03 함수

### A. def 함수
1. 일반적인 함수
        def 함수이름(매개변수):
              return 결과값

        결과값을 받을 변수 = 함수이름(인수)

2. 입력값이 없는 함수
        def 함수이름():
              return 결과값

        결과값을 받을 변수 = 함수이름()
     
3. 결과값이 없는 함수
        def 함수이름(매개변수):

        함수이름(인수)

        
4. 입력값, 결과값 모두 없는 함수
        def 함수이름():

        함수이름()

+ return값은 오로지 1개
+ return으로 함수를 빠져나갈 수 있음
+ 함수 안에서 선언한 매개변수는 함수 안에서만 효력
+ 함수 밖의 변수를 변경하는 법 : return, global 사용

In [30]:
# 결과값이 없는 함수
def sumf(a,b):
  print(a + b)

a = sumf(3,4)
print(a) # None : 결과값 없음을 의미

7
None

In [31]:
# 매개변수 지정해서 호출 
def divif(a,b):
  return a/b

r = divif(2,4)
l = divif(b=2, a=4) # 변수만 제대로 지정해주면 순서 상관이 없음
print(r,l)

0.5 2.0

In [32]:
# return값은 only 1개
def re(a,b):
  return a+b, a*b

result = re(1,2)
print(result) # return값은 1개이므로 tuple로 결과값을 반환

(3, 2)

#### + 여러개 입력받는 함수
def 함수이름(*매개변수): <br>
모든 입력값들을 tuple로 반환

In [33]:
# 입력값이 여러개
def app(*args):
  return args

a = app(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

#### + 키워드 파라미터
def 함수이름(**매개변수): <br>
모든 입력값들을 dict으로 반환

In [34]:
# 키워드 파라미터
def app2(**args):
  return args

b = app2(apple = 'red')
print(b)

{'apple': 'red'}

In [35]:
# 함수 응용
def intro(name, *major, **info):
  print('Name:', name)
  print("Major:")
  for ma in major:
    print(ma)
  for inf in info:
    print(inf, ":", info[inf])

intro("Isabella", "Economics", "Industrial Engineering", Age = "22", Gender = 'Female')

Name: Isabella
Major:
Economics
Industrial Engineering
Age : 22
Gender : Female

#### + 매개변수에 초깃값 설정하기
+ 입력시 초깃값 설정한 변수는 적지 않아도 됨
+ 초깃값은 맨 마지막에만 설정가능

In [36]:
# 초깃값 예시
def address(country, city, current=True):
  print("Address: %s, %s." %(country, city))
  if current:
    print("living")
  else:
    print("Not living")

a = address('Korea', 'Seoul')
b = address("USA", 'NYC', False)

Address: Korea, Seoul.
living
Address: USA, NYC.
Not living

### B. lambda 함수
1. lambda 매개변수1, 매개변수2 ... (한줄로 표현)
2. return 없이도 결과값 반환

In [37]:
a = lambda q, w: q + w
result = a(5,7)
print(result)

12

## 04 여러 methods

### A. 내장함수
+ abs(x) : 절댓값 반환
+ all(x) : 해당 자료의 True, False를 반환 (Ex_ 0이 있으면 False 등)
+ any(x) : 자료 중 하나라도 참이면 True, 모두 거짓일 때 False
+ chr(x) : 아스키 코드 값을 입력받고, 이에 해당하는 문자 출력 (0-127)
+ dir(x) : 객체(list, dict 등)가 가지고 있는 함수를 보여줌 (클래스 내의 메소드)
+ divmod(x,y) : x/y의 몫과 나머지를 tuple로 반환 (//, %)
+ enumerate(x) : list, tuple, str을 인덱스 값을 포함하여 반환
+ eval(expression) : 표현식을 문자열로 입력받아 실행한 결과값을 반환
+ filter() : 함수식에서 참인 값만 반환
+ hex(x) : 정수 값을 입력받아 16진수로 변환
+ id(x) : 객체를 입력받아 고유 주소 값 반환
+ int(x, radix) : radix 진수로 표현된 x를 10진수로 변환
+ isinstance(object, class) : 해당 object가 class안에 있으면 True, 아니면 False
+ map(f, iterable) : 입력받은 iterable자료형의 각 요소를 f가 수행한 결과를 묶어서 반환
+ max(x) : 최댓값 반환
+ min(x) : 최솟값 반환
+ oct(x) : 정수 값을 입력받아 8진수로 변환
+ ord(x) : 문자의 아스키 코드값을 반환
+ pow(x, y) : x**y 값 반환
+ round(x, digits) : x를 입력받아 소수점 digits까지 반올림 (x만 있으면 just 반올림)
+ sorted(x) : 입력값을 정렬한 후 반환
+ sum(x) : list, tuple 요소의 합 반환
+ type(x) : 자료형이 무엇인지 반환
+ zip(x) : 동일한 개수로 이루어진 자료형을 묶어줌

In [38]:
# enumerate 함수
for i, name in enumerate(['Apple', 'Banana', 'Cherry']):
  print(i, name)

0 Apple
1 Banana
2 Cherry

In [39]:
# eval 함수
eval("'te' + 'a'")

'tea'

In [40]:
# filter 함수
list(filter(lambda x: x>0, [1,-3,2,0,-5,6]))

[1, 2, 6]

In [41]:
# map 함수
list(map(lambda a: a*2, [1,2,3,4]))

[2, 4, 6, 8]

In [42]:
# zip 함수_index별로 묶음
list(zip([1,2,3],[4,5,6],[7,8,9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

#### + 파일 읽고 쓰기
open(파일 이름, 모드) : 파일을 열 때 사용 <br>
+ r : 읽기모드
+ w : 쓰기모드
+ a : 새로운 내용 추가

In [1]:
# txt 파일 불러오기
# open(,,) 첫번째 칸에 자신이 파일을 저장해놓은 위치를 써야 함

f = open("my_life.txt", 'r', encoding='UTF8')
f.read()

"The life is only once. Why do you make efforts commonly, don't want to live commonly."

In [2]:
# 파일 닫기

f.close()

In [3]:
# txt 파일로 내보내기

f = open("20200522_theday.txt", 'w', encoding='UTF8')
f.write("The word 'impossible' is not in my dictionary.")
f.close()

### B. 외장함수

#### B-1 time 모듈
import time 을 맨처음 해줘야 함
+ time.time() : 현재 시간을 실수형태(초 단위)로 반환 (세계표준시)
+ time.localtime() : 위 실수 값을 연도, 월, 일, 시, 분, 초 형태로 변환
+ time.asctime() : 위 결과값을 tuple로 반환
+ time.ctime() : time.asctime(time.localtime(time.time()))와 동일
+ time.strftime() : 출력할 형식 포맷 코드 사용해서 나타냄
+ time.sleep() : 일정한 시간 간격을 두고 루프 실행

##### + strftime 함수 코드
너무 많아서 몇개만 정리함
+ %A : 요일
+ %B : 달
+ %c : 날짜, 시간 출력
+ %d : 날
+ %H : 시간(24시간)
+ %I : 시간(12시간)
+ %M : 분
+ %p : AM or PM
+ %S : 초 
+ %x : 현재 설정된 local 날짜 출력
+ %X : 현재 설정된 local 시간 출력
+ %Y : 년
+ %Z : 시간대

In [49]:
# time 예시
import time
a = time.asctime(time.localtime(time.time()))
b = time.ctime()
print(a,b, sep='\n')

Sat Jul 18 00:15:34 2020
Sat Jul 18 00:15:34 2020

In [50]:
# strftime 예시
time.strftime('%z', time.localtime(time.time()))

'+0900'

In [0]:
# sleep 예시
for i in range(10):
  print(i, end=' ')
  time.sleep(1) # 1초마다 한 숫자씩 반환

0 1 2 3 4 5 6 7 8 9

#### B-2 calendar 모듈
import calendar을 처음에 해주기
+ calendar.calendar(연) : 그 해 전체 달력 (=calendar.prcal(연))
+ calendar.prmonth(연, 월) : 해당 연도의 월을 반환
+ calendar.weekday(연, 월, 일) : 해당 날짜의 요일을 숫자(월=0, 일=6)로 반환
+ calendar.monthrange(연, 월) : 해당 월의 1일의 요일과, 몇일인지 tuple로 반환

In [0]:
# monthrange 예시
import calendar
calendar.monthrange(2020,3)

(6, 31)

#### B-3 random 모듈
import random 맨 처음에 해주기
+ random.random() : 0 ~ 1 사이에서 랜덤 실수
+ random.randint(숫자, 숫자) : 숫자 사이의 랜덤 정수

In [0]:
# randint 예시
import random
random.randint(1,10)

6